<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nuonuoya.friend.mapper.UserExamMapper">

    <select id="selectEnrollCounts" resultType="cn.nuonuoya.api.friend.vo.FriendExamStatVO">
        SELECT
            exam_id AS examId,
            COUNT(*) AS enrollCount
        FROM tb_user_exam
        WHERE exam_id IN
        <foreach collection="examIds" item="examId" open="(" separator="," close=")">
            #{examId}
        </foreach>
        GROUP BY exam_id
    </select>

    <select id="countDistinctEnrolled" resultType="int">
        SELECT COUNT(DISTINCT user_id)
        FROM tb_user_exam
        WHERE exam_id IN
        <foreach collection="examIds" item="examId" open="(" separator="," close=")">
            #{examId}
        </foreach>
    </select>

</mapper>
